body{
    margin: 0;
    padding: 0;
}
.jumbotron {
  background-image: url("img2.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
#information {
}
.h1{
	font-weight: bold;
	font-size: 400%
}