body{
    margin: 0;
    padding: 0;
}
.jumbotron {
  background-image: url("img1.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
 .wrapping-class {
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      border-radius: 0px !important;
      background: -webkit-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
      background: -o-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
      background: linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
    }

    .nav-link {
      color: white !important;
      font-size: 1.3em !important;
    }

    .nav li {
      padding-right: 10px;
      padding-left: 10px;
    }
    .row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.col-xs-3:not(:last-child) {
    border-right: 1px solid #ccc;
}