body{
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD


.about{
    background-color: #f4f4f4;
=======
.jumbotron {
  background-image: url("img2.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px #000000;
>>>>>>> 231e4157e2335f93486f9cf7e1090d1b4d42f670
}
#information {
	background-color: #0275d8;
}